/*imagenes ajustadas*/
.bodyTipe{
    background-image: url(../assets/fondo.6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.imagenlogo{
    width: 10rem;
    height: 5rem;
    border-radius: 10px;
}
.imagencast{
    width: 80rem;
    height: 30rem;
    margin-top: 5px;
    border-radius: 10px;
}
.cartelIntervencion{
    width: 33rem;
}
.curiosidadesImagenes{
    width: 20rem;
    height: 12rem;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 5px;
}
/*mediaqueries*/
@media(max-width:900px) {
    .imagencast{
        width: 30rem;
        height: 20rem;
    }
    .cartelIntervencion{
        width: 18rem;
    }
    .youtube{
        width: 20rem;
        height: 15rem;
}
}
@media( max-width:500px){
    .cartelIntervencion{
        width: 12rem;
    }
    .imagencast{
        width: 22rem;
        height: 15rem;
    }
    .youtube{
        width: 20rem;
        height: 15rem;
    }
    .imagenBiografia{
        width: 20rem;
        height: 22rem;
    }
}
/*colores de la pagina*/
.headerColor{
    background-color: #F2F2EB;
}
footer{
    background-color: #404040;
    border-radius: 10px;
    bottom: 0%
}
.boton{
  margin-top: 10px;
}
.dropdown{
    background-color: #F2F2EB !important;
}
/*fuentes*/
p{
    font-family: "roboto", sans-serif;
    color: #f4f4f6;
}
nav{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
}
h1{
    font-family: "roboto", sans-serif;
    color: #f4f4f6 !important; 
}
h2{
    font-family: "roboto", sans-serif;
    color: #f4f4f6 !important; 
}
/*flex*/
.flexCuriosidades{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flexSitiosWeb{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.curiosidades{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
   align-items: center;
   text-align: center;
   margin-bottom: 50px;
}
footer{
    margin-top: 20px;
    bottom: 0%;
}
.imagenBiografia{
    margin-top: 2rem;
}
